@model Zur.VM.AdminVM
@{
    ViewBag.Title = "CabsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Cabs List</h3>
    </div>
    <div class="panel-body">
        <table id="demo-dt-selection" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Under Agent</th>
                    <th class="min-tablet">Created By</th>
                    <th>Brand Name</th>
                    <th>Color</th>
                    <th>Vehicle Modal</th>

                    <th class="min-tablet"> No of Seats</th>
                    <th class="min-desktop">Created Date</th>
                    <th class="min-desktop">Cab Status</th>
                    <th class="min-desktop">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.VehiclesList)
                {
                <tr>
                    <td>@user.TravelerUserName</td>
                    <td>@user.CreatedBy</td>
                    <td>@user.BrandName</td>
                    <td>@user.Color</td>
                    <td>@user.ModelYear</td>
                    <td>@user.SeatsCount</td>
                    <td>@user.CreatedDate</td>
                    <td>
                        @if (user.Status == 1)
                        {
                            <span style="color:green;font:bold">
                                Active
                            </span>
                        }
                        else
                        {
                            <span style="color:red;font-weight:bold">
                                In Active
                            </span>
                        }


                    </td>
                    <td>@Html.ActionLink("Edit / View", "ViewCab", new { @id = user.Id })</td>
                </tr>
                }




            </tbody>
        </table>
    </div>
</div>
