
@{
    ViewBag.Title = "createowneragent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Zur.VM.AdminVM

<div id="page-content">
    <div class="panel">
        @using (Html.BeginForm("createowneragent", "Admin", FormMethod.Post, new { @id = "demo-bvd-notempty", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row" text-align:center;padding-top:80px;>
                <span style="color:red;font-weight:bold;margin-left:100px;">@ViewBag.Error</span>
            </div>
            <div class="row">
                <p class="bord-btm pad-ver text-main text-bold" style="margin-left:50px">Create Owner/Agent</p>
                <span style="color:red;font-weight:bold">@ViewBag.message</span>
                <div class="col-lg-6">
                    <div class="panel">

                        <fieldset>
                            <div class="panel-body">
                                @{
                                    List<SelectListItem> listItems1 = new List<SelectListItem>
                                            ();
                                    listItems1.Add(new SelectListItem
                                    {
                                        Text = "Select Type",
                                        Value = "0",
                                        Selected = true
                                    });
                                    listItems1.Add(new SelectListItem
                                    {
                                        Text = "Owner",
                                        Value = "Owner"
                                    });
                                    listItems1.Add(new SelectListItem
                                    {
                                        Text = "Agent",
                                        Value = "Agent"
                                    });




                                }
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Select Travel Type</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(model => model.Agents.Travelartype, listItems1, new { @class = "form-control", placeholder = "Coupon Type" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Name</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Agents.TravelUserName, new { @class = "form-control", placeholder = "Enter Name", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Employee.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Agents.TavelEmail, new { @class = "form-control", placeholder = "Enter Email", @required = "true", @type = "email" })
                                        @Html.ValidationMessageFor(model => model.Agents.TavelEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Contact Number</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Agents.TravelPhone, new { @class = "form-control", placeholder = "Enter Contact number", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Agents.TravelPhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>


                        </fieldset>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">

                        <fieldset>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Address</label>
                                    <div class="col-lg-7">
                                        @Html.TextAreaFor(model => model.Agents.Address, new { @class = "form-control", placeholder = "Enter Address", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Agents.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">No. of Cars</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Agents.vehiclesCount, new { @class = "form-control", placeholder = "Enter No. of Cars", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Employee.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Firm Name</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Agents.TravelName, new { @class = "form-control", placeholder = "Enter Firm Name", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Agents.TravelName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-7 col-sm-offset-3">
                                        <button class="btn btn-mint" type="submit">Save Info</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </div>
        }
    </div>

</div>
