@model Zur.VM.AdminVM
@{
    ViewBag.Title = "ViewBoardingPoint";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content">
    <div class="panel">
        @using (Html.BeginForm("ViewBoardingPoint", "Admin", FormMethod.Post, new { @id = "demo-bvd-notempty", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <span style=" color:red;font-weight:bold;text-align:center; margin-right:100px;">@ViewBag.Error</span>
            </div>
            <div class="row">
                <p class="bord-btm pad-ver text-main text-bold" style="margin-left:50px">Update BoardingPoint Details
                &nbsp;&nbsp;&nbsp;&nbsp; <a style="color:red" href="@Url.Action("BoardingPointsList","Admin")"> Go Back</a></p>

                <div class="col-lg-6">
                    <div class="panel">

                        <fieldset>
                            <div class="panel-body">  

                                <div class="form-group" hidden>
                                    <label class="col-lg-3 control-label">ID</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.BoardingPoints.Id)


                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Select City</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(model => model.BoardingPoints.City, new SelectList(Model.CityDDL, "Key", "Value"), "--- Select City ---", new { @onchange = "FillService()", @class = "form-control" })


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Status of Boarding Point</label>
                                    <div class="col-lg-7">
                                        @Html.CheckBoxFor(model => model.BoardingPoints.BoardingPointStatus, new { @class = "form-control", placeholder = "Enter Name" })

                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">

                        <fieldset>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Enter short code</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.BoardingPoints.BoardingPoint, new { @class = "form-control", placeholder = "Enter Name", @required = "true" })

                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-7 col-sm-offset-3">
                                        <button class="btn btn-mint" type="submit">Update BoardingPoin</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </div>
        }
    </div>

</div>
