
@{
    ViewBag.Title = "UserChangePassword";
    Layout = "~/Views/Shared/_HLayout.cshtml";
}

@model Zur.Common.Saleschangepwd

<div class="container-fluid">
    <div class="panel">
        @using (Html.BeginForm("UserChangePassword","BookCab", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            

                <div class="col-lg-12">
                    <div class="panel">

                        <fieldset>
                            <div class="panel-body">
                                <div style="text-align:center;">
                                    <p class="bord-btm pad-ver text-main text-bold"><h3 style="color:orange;"><b>Change Password</b></h3></p>
                                </div><br />
                                <div style="text-align:center;">
                                    <span style=" color:red;font-weight:bold;">@ViewBag.Error</span>
                                </div><br />


                                <div class="form-group">
                                    <label class="col-md-3 text-right"><h5>Current Password</h5> </label>
                                    <div class="col-md-5">
                                        @Html.PasswordFor(model => Model.pwd, new { @class = "form-control", placeholder = "Enter current password", @required = "true" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 text-right"><h5>New Password</h5></label>
                                    <div class="col-md-5">
                                        @Html.PasswordFor(model => Model.newpwd, new { @class = "form-control", placeholder = "Enter New Password", @required = "true" })
                                        @*@Html.ValidationMessageFor(model => model.DriversInfo.DriverUserName, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 text-right"><h5>Confirm Password</h5> </label>
                                    <div class="col-md-5">
                                        @Html.PasswordFor(model => Model.cnfrmpwd, new { @class = "form-control", placeholder = "Confirm Password", @required = "true" })

                                    </div>
                                </div>


                            </div>
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-info" type="submit">Save Info</button>
                                        <a href="@Url.Action("Limitedkms","BookCab")"><label class="btn btn-danger">Back</label></a> 
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
           
        }
    </div>

</div>


