@model Zur.VM.AdminVM
@{
    ViewBag.Title = "CreateCab";
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
}

@*<script src="~/v2/plugins/chosen/chosen.jquery.min.js"></script>
    <link href="~/v2/plugins/chosen/chosen.min.css" rel="stylesheet" />*@
<link href="~/v2/plugins/select2/css/select2.min.css" rel="stylesheet">
<link href="~/v2/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
    });
</script>

<div id="page-content">
    <div class="panel">
        @using (Html.BeginForm("CreateCab", "Agent", FormMethod.Post, new { @id = "demo-bvd-notempty", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <p class="bord-btm pad-ver text-main text-bold" style="margin-left:30px">Add New Cab</p>
                <span style="color:green;">@ViewBag.Error</span>
                <div class="col-lg-6">
                    <div class="panel">
                        <p class="bord-btm pad-ver text-main text-bold" style="margin-left:50px">Agency Info</p>

                        <fieldset>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Traveller</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => Session["Agent_Auth_Session"], new { value = @Session["Agent_Auth_Session"].ToString(), @class = "form-control", placeholder = "Enter Owner Name", @required = "true", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Owner Name</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.OwnerName, new { @class = "form-control", placeholder = "Enter Owner Name", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.OwnerName, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.message</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Owner Contact</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.VehicleOwnerCont, new { @type = "tel", @maxlength = "10", @class = "form-control", placeholder = "Vehicle Owner Contact", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleOwnerCont, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Vehicle Type</label>
                                    <div class="col-lg-7">

                                        @Html.DropDownListFor(model => model.Vehicle.VehicleType, new SelectList(Model.VehicleTypeDDL, "Key", "Value"), "--- Select Vehicle Type ---", new { @onchange = "FillService()", @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleType, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Eminities</label>
                                    <div class="col-lg-7">
                                        @*@Html.ListBoxFor(model => model.Vehicle.Eminities, new SelectList(Model.EminitiesDLL, "Key", "Value"), new { @class = "form-control", @SelectionMode = "Multiple" })
                                            @Html.ValidationMessageFor(model => model.Vehicle.Eminities, "", new { @class = "text-danger" })*@
                                        @Html.ListBoxFor(model => model.Vehicle.MultiSelectitems, new SelectList(Model.EminitiesDLL, "Key", "Value"), new { @multiple = "multiple", @class = "form-control demo-select2-multiple-selects", @id = "select2-selection select2-selection--multiple", @required = "true" })

                                        @Html.ValidationMessageFor(model => model.Vehicle.MultiSelectitems, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Terms and Condtions</label>
                                    <div class="col-lg-7">
                                        @Html.TextAreaFor(model => model.Vehicle.TermsandConditions, new { @class = "form-control", placeholder = "Enter Terms & Condition", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.TermsandConditions, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Rent per day</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.RentPerday, new { @class = "form-control", placeholder = "Rent Per Day", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.RentPerday, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Rent Per Hour</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.RentPerHour, new { @class = "form-control", placeholder = "Rent Per Hour", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.RentPerHour, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">

                        <fieldset>
                            <div class="panel-body">
                                <p class="bord-btm pad-ver text-main text-bold" style="margin-left:50px">Vehicle  Info</p>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">SelfDrive Price </label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.SelfDriveprice, new { @class = "form-control", placeholder = "SelfDrive Price", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.SelfDriveprice, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Brand Name </label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(model => model.Vehicle.BrandName, new SelectList(Model.BrandsDLL, "Key", "Value"), "--- Select Vehicle Brand ---", new { @onchange = "FillService()", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.BrandName, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Color</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(model => model.Vehicle.Color, new SelectList(Model.ColorDLL, "Key", "Value"), "--- Select Vehicle Color ---", new { @onchange = "FillService()", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.Color, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Model Year</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.ModelYear, new { @class = "form-control", placeholder = "Enter Model Year", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.ModelYear, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Seats Count</label>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.Vehicle.SeatsCount, new { @class = "form-control", placeholder = "Enter Seats Count", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.SeatsCount, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Vehicle Image </label>
                                    <div class="col-lg-7">
                                        <input type="file" class="form-control" name="ImageData" id="ImageData" required="true" />
                                    </div>
                                </div>

                                @*@{
                                        List<SelectListItem> listItems1 = new List<SelectListItem>
                                                ();
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "Select Type",
                                            Value = "0",
                                            Selected = true
                                        });
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "Rental",
                                            Value = "Rental"
                                        });
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "SelfDrive",
                                            Value = "SelfDrive"
                                        });


                                    }*@
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Journey Type</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(model => model.Vehicle.Journeytype, new List<SelectListItem>
                                 { new SelectListItem{Text="Rental", Value="Rental"},
                                 new SelectListItem{Text="SelfDrive", Value="SelfDrive"}}, "Please select", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.Journeytype, "", new { @class = "text-danger" })

                                        @*@Html.DropDownListFor(model => model.Vehicle.Journeytype, listItems1, new { @class = "form-control", placeholder = "Enter Journey Type", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.Vehicle.Journeytype, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Select Source</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(model => model.Vehicle.Source, new SelectList(Model.CityDDL, "Key", "Value"), "--- Select Source ---", new { @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Vehicle.Source, "", new { @class = "text-danger" })
                                        <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                    </div>
                                </div>

                            </div>


                        </fieldset>
                    </div>
                </div>

            </div>

            @*<div class="row">

                    <div class="col-lg-6">
                        <div class="panel">

                            <fieldset>
                                <div class="panel-body">
                                    <p class="bord-btm pad-ver text-main text-bold" style="margin-left:50px">Vehicle Driver Info</p>


                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Driver Name </label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.DriverName, new { @class = "form-control", placeholder = "Enter Driver Name", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.DriverName, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Driver UserName</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.DriverUserName, new { @class = "form-control", placeholder = "Enter Driver UserName", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.DriverUserName, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Email </label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.Email, new { @class = "form-control", placeholder = "Enter Email", @required = "true", @type = "email" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.Email, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Contact Number</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.ContactNumber, new { @class = "form-control", placeholder = "Enter Contact Number", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.ContactNumber, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Address</label>
                                        <div class="col-lg-7">
                                            @Html.TextAreaFor(model => model.DriversInfo.Address, new { @class = "form-control", placeholder = "Enter Address", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.Address, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Driving License Number</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.License, new {@type="text", @id = "txtLicense", onblur = "LicenseValidate();", @class = "form-control", placeholder = "Enter Driving License Number", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.License, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">DL Copy </label>
                                        <div class="col-lg-7">
                                            <input type="file" class="form-control" name="DLCopy" id="DLCopy" required/>
                                        </div>
                                    </div>

                                </div>


                            </fieldset>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel">

                            <fieldset>
                                <div class="panel-body">
                                    <p class="bord-btm pad-ver text-main text-bold" style="margin-left:50px"></p>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Age</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.Age, new { @class = "form-control", placeholder = "Enter Age", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.Age, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Marital Status</label>
                                        <div class="col-lg-7">

                                            @Html.DropDownListFor(model => model.DriversInfo.MaritalStatus, new List<SelectListItem>
                                              { new SelectListItem{Text="Married", Value="Married"},
                                                new SelectListItem{Text="UnMarried", Value="UnMarried"},
                                                new SelectListItem{Text="Divorced", Value="Divorced"}}, "Please select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.MaritalStatus, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Smoke</label>
                                        <div class="col-lg-7">

                                            <label>
                                                @Html.RadioButtonFor(model => model.DriversInfo.Driversmoke, "Yes") Yes
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.DriversInfo.Driversmoke, "No")  No
                                            </label>
                                            @Html.ValidationMessageFor(model => model.DriversInfo.Driversmoke, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Drink</label>
                                        <div class="col-lg-7">

                                            <label>
                                                @Html.RadioButtonFor(model => model.DriversInfo.DriverDrink, "Yes") Yes
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.DriversInfo.DriverDrink, "No")  No
                                            </label>
                                            @Html.ValidationMessageFor(model => model.DriversInfo.DriverDrink, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Batch Number</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.BatchNumber, new { @class = "form-control", placeholder = "Enter Batch Number", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.BatchNumber, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Driving License Expire Date</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.DrivingLicenseExpiredDate, new { @class = "form-control", placeholder = "Enter Driving License Expire Date", @required = "true", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.DrivingLicenseExpiredDate, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">License Issued Date</label>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(model => model.DriversInfo.LicenseIssuedDate, new { @class = "form-control", placeholder = "Enter License Issued Date", @required = "true", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.DriversInfo.LicenseIssuedDate, "", new { @class = "text-danger" })
                                            <span style=" color:red;font-style:inherit;">@ViewBag.messageh</span>
                                        </div>
                                    </div>
                                </div>


                            </fieldset>
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-5" style="margin-bottom:15px;">
                        <button class="btn btn-mint" type="submit" onclick="validate()">Save Info</button>
                        <a href="@Url.Action("CabsList","Agent")"><label class="btn btn-danger">Back To List</label></a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script type="text/javascript" src="~/theme/js/jquery-ui-1.10.4.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function LicenseValidate() {
        var aadhar = document.getElementById("txtLicense").value;

        var adharSixteenDigit = /[a-zA-Z]{2}[0-9]{14}$/;
        if (aadhar != '') {
            if (aadhar.match(adharSixteenDigit)) {
                return true;
            }

            else {
                alert("Enter valid License Number");
                return false;

            }
        }
    }
</script>